OCR_MODEL_ID=PaddlePaddle/PaddleOCR-VL-1.6
OCR_MODEL_REVISION=REPLACE_WITH_APPROVED_COMMIT_SHA
VLLM_BASE_URL=http://127.0.0.1:8001/v1
VLLM_MODEL_NAME=PaddleOCR-VL-1.6-0.9B
MAX_DOCUMENT_BYTES=26214400
MAX_DOCUMENT_PAGES=100
MAX_PAGE_PIXELS=40000000
MAX_TOTAL_RENDERED_PIXELS=200000000
REQUEST_TIMEOUT_SECONDS=120
RECOGNITION_BACKEND=vllm
DEVICE=cuda
VLLM_MAX_TOKENS=1024
VLLM_TEMPERATURE=0
VLLM_MAX_CONNECTIONS=20
VLLM_RETRIES=2
LOCAL_MAX_NEW_TOKENS=1024
LOCAL_TORCH_DTYPE=auto
