OCR_MODEL_ID=PaddlePaddle/PaddleOCR-VL-1.6
OCR_MODEL_REVISION=REPLACE_WITH_APPROVED_COMMIT_SHA
VLLM_BASE_URL=http://127.0.0.1:8001/v1
VLLM_MODEL_NAME=PaddleOCR-VL-1.6-0.9B
MAX_DOCUMENT_BYTES=26214400
REQUEST_TIMEOUT_SECONDS=120
